/* palette:

#FCEADE - champagne pink
#C17767 - copper red
#6CCFF6 - baby blue
#745296 - royal purple
#211A1E - raisin black */




main {
    background-color: #FCEADE;
    color: #211A1E; 
    display: flex;
    flex-direction: row;
    /* width: 100%; */
}

div {
    display: flex;
    flex-direction: column;
    width: 75%;
}

body {
    flex-direction: row;
    display: flex;
}

aside {
    background-color: #C17767;
    /* float: right; */
    width: 25%;
}

header {
    /* width: 100%; */
    min-height: 100px;
    background-color: #745296;
}

footer {
    /* width: 100%; */
    min-height: 100px;
    background-color: #745296
}

#fishtank {
    background-color: #6CCFF6;
    width: 100%;
    min-height: 500px;
}

.fish {
    background-color: #C17767;
}

.fish_name {
    background-color:#FCEADE;
}